<% if signed_in? %>
  <table class="front">
    <tr>
      <td class="main">
        <h2 class="micropost">whats up</h2>
        <%= render 'pages/micropost_form' %>
        <%= render 'pages/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'pages/user_info' %>
        <%= render 'pages/stats' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>Sample App</h1>
  <p>
  this is the home page for a sample application
  </p>
  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
